  <!-- footer -->
      <footer>
        <div class="container">
          <div class="sb-footer-frame">
            <a href="home-1.html" class="sb-logo-frame">
              <!-- logo img -->
              <img src="img/ui/logo.svg" alt="Starbelly">
            </a>
            <ul class="sb-social">
              <li><a href="#."><i class="far fa-circle"></i></a></li>
              <li><a href="#."><i class="far fa-circle"></i></a></li>
              <li><a href="#."><i class="far fa-circle"></i></a></li>
              <li><a href="#."><i class="far fa-circle"></i></a></li>
            </ul>
            <div class="sb-copy">&copy; late 2021 Starbelly. All Rights Reserved.</div>
          </div>
        </div>
      </footer>
      <!-- footer end -->

    </div>
    <!-- dynamic content end -->

    <!-- discount popup -->
    <div class="sb-popup-frame">
      <div class="sb-popup-body">
        <div class="sb-close-popup">+</div>
        <div class="sb-promo-content">
          <div class="sb-text-frame">
            <h3 class="sb-mb-15">Visit Starbelly and get your coffee*</h3>
            <h3 class="sb-mb-10"><b class="sb-h2">FOR FREE!</b></h3>
            <p class="sb-text sb-text-sm sb-mb-15">*Et modi itaque praesentium.</p>
            <!-- button -->
            <a href="product.html" class="sb-btn sb-ppc">
              <span class="sb-icon">
                <img src="img/ui/icons/arrow.svg" alt="icon">
              </span>
              <span>Get it now</span>
            </a>
            <!-- button end -->
          </div>
          <div class="sb-image-frame">
            <div class="sb-illustration-5">
              <img src="img/illustrations/cup.png" alt="cup" class="sb-cup">
              <div class="sb-cirkle-1"></div>
              <div class="sb-cirkle-2"></div>
              <div class="sb-cirkle-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- discount popup end -->

  </div>
  <!-- app wrapper end -->

  <!-- jquery js -->
  <!-- <script src="js/plugins/jquery.min.js"></script> -->
  <script src="../js/plugins/jquery.min.js"></script>
  <!-- smooth scroll js -->
  <script src="../js/plugins/smooth-scroll.js"></script>
  <!-- swup js -->
  <script src="../js/plugins/swup.min.js"></script>
  <!-- swiper js -->
  <script src="../js/plugins/swiper.min.js"></script>
  <!-- datepicker js -->
  <script src="../js/plugins/datepicker.js"></script>
  <!-- isotope js -->
  <script src="../js/plugins/isotope.js"></script>
  <!-- sticky -->
  <script src="../js/plugins/sticky.js"></script>
  <!-- mapbox js -->
  <script src="../js/plugins/mapbox.min.js"></script>
  <!-- fancybox js -->
  <script src="../js/plugins/fancybox.min.js"></script>
  <!-- starbelly js -->
  <script src="../js/main.js"></script>

</body>

</html>
