.bannerVideoSection {
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.bannerVideoSection .content-wrapper {
  position: relative;
  z-index: 1;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Change opacity as needed */
  z-index: 1;
}

.bannerSectionH1 {
  color: #fff;
}
.biographyParaContainer p {
  text-align: justify;
}
.sb-category-icon-cstm {
  margin: 0 !important;
}
.sb-card-body-cstm {
  justify-content: space-between;
}
.ctaBtnIndex {
  padding: 2rem 3rem;
}
.bannerSectionBtn span {
  padding: 1rem !important;
  /* text-align: center; */
}
